# Backend (Laravel)
/backend/vendor
/backend/node_modules
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/.env
/backend/.env.backup
/backend/.env.production
/backend/.phpunit.result.cache
/backend/Homestead.json
/backend/Homestead.yaml
/backend/auth.json
/backend/npm-debug.log
/backend/yarn-error.log
/backend/.fleet
/backend/.idea
/backend/.vscode
/backend/storage/logs/*.log
/backend/storage/framework/cache/*
/backend/storage/framework/sessions/*
/backend/storage/framework/views/*
!/backend/storage/framework/cache/.gitignore
!/backend/storage/framework/sessions/.gitignore
!/backend/storage/framework/views/.gitignore
/backend/bootstrap/cache/*
!/backend/bootstrap/cache/.gitignore

# Frontend (Vue.js)
/frontend/node_modules
/frontend/dist
/frontend/dist-ssr
/frontend/*.local
/frontend/.vscode/*
!/frontend/.vscode/extensions.json
/frontend/.idea
/frontend/.DS_Store
/frontend/*.suo
/frontend/*.ntvs*
/frontend/*.njsproj
/frontend/*.sln
/frontend/*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Temporary files
*.tmp
*.temp
*.swp
*.swo
*~

